{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">  
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .bg {
            background: #3494E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        body {
            font-family: "Raleway", sans-serif;
        }
        h1,h2 {
            color: lightgrey;
            font-weight: bold;
        }   
    </style>  

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<body class="bg" style="color: white">
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        
        <div class="container">
            <div class="text-center" style="padding-bottom: 20px">
                <img src="https://image.ibb.co/mxcUeQ/pict.jpg" class="img-circle" style="width: 150px; height: 150px; border: 2px solid white;">
                <div style="padding-top: 20px;">
                    <p><i>“I love deadlines. I love the whooshing noise they make as they go by.”</i></p>
                    <small>― Douglas Adams, The Salmon of Doubt</small>
                </div>
           
           
        </div>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer class="text-center" style="padding-top: 10px;">
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
